.about-us-navbar {
  position: sticky;
  top: 0;
  z-index: 5;
  display: flex;
  width: 100vw;
  height: 60px;
  min-height: 80px;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  margin: 0;
  padding: 0;
  transition: min-height 0.5s;

  .nav-buttons {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    width: fit-content;
    height: 2.25rem;
    margin: 0 1rem;

    // height: 60px;
  }

  #navbar-star {
    padding: 0 5rem;
  }
}

.shrink-navbar {
  min-height: 60px;
}

.hidden-navbar-container {
  display: none;

  .hidden-navbar {
    display: none;
  }
}

.main-navbar-container {
  display: block;
  position: sticky;
  top: 0;
  z-index: 5;

  .main-navbar {
    @include flex(rn, space-between);
    background-color: white;
    @include box(100%, 5rem);
    height: 60px;
    transition: min-height 2s;

    .widgets-dashboard-navbar {
      width: 100%;
      @include flex(rn, space-between);

      .page-title {
        color: black;
        font-size: 3rem;
        white-space: nowrap;
      }
    }

    .nav-buttons {
      font-family: "Oswald", sans-serif;
      letter-spacing: 1px;
      border: none;
      user-select: none;
      font-weight: 600;
      width: fit-content;
      height: 2.25rem;
      margin: 0 1rem;
      cursor: pointer;
      background-color: transparent;
      white-space: nowrap;
    }

    #navbar-star {
      padding: 0 5rem;
    }

    .active {
      background-color: red;

      &:hover {
        background-color: shade(red, 8%);
      }
    }
  }
}

@keyframes shrink {
  from {
    background-color: white;
  }
  to {
    background-color: red;
  }
}
