@import "./variables.scss";
@import "./mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import "./common.scss";
@import "./components/hero.scss";
@import "./components/navigation/navbar.scss";
@import "./components/pages/about-us.scss";
@import "./components/pages/clients.scss";
