.about-us-navbar {
  position: sticky;
  top: 0;
  z-index: 5;
  display: flex;
  width: 100vw;
  height: 40px;
  min-height: 60px;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  transition: min-height 0.5s;

  .nav-buttons {
    background-color: transparent;
    border: none;
    cursor: pointer;
    // height: 60px;
  }
}

.shrink-navbar {
  min-height: 40px;
}

.hidden-navbar {
  display: none;
}

// .navbar {
//   @include flex(rn, space-between);
//   background-color: white;
//   @include box(100%, 5rem);
//   transition: min-height 2s;

//   .widgets-dashboard-navbar {
//     width: 100%;
//     @include flex(rn, space-between);

//     .page-title {
//       color: black;
//       font-size: 3rem;
//       white-space: nowrap;
//     }
//   }

//   .nav-buttons {
//     user-select: none;
//     font-weight: 600;
//     width: 7rem;
//     height: 2.25rem;
//     margin: 0 1rem;
//     border-radius: 0.65rem;
//     cursor: pointer;
//     background-color: whitesmoke;
//     box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

//     &:hover {
//       background-color: shade(whitesmoke, 8%);
//     }

//     &:focus {
//       outline: 2px solid transparent;
//       outline-offset: 2px;
//     }

//     &:focus-visible {
//       box-shadow: none;
//     }
//   }

//   .active {
//     background-color: red;

//     &:hover {
//       background-color: shade(red, 8%);
//     }
//   }
// }

@keyframes shrink {
  from {
    background-color: white;
  }
  to {
    background-color: red;
  }
}
