.about-us {
  position: relative;
  display: grid;
  grid-template-rows: 100vh 15rem 45rem 30rem 40rem 30rem 300px 300px;
  grid-template-columns: 100%;

  // > * {
  //   border: 1px solid red;
  // }

  // .hero-wrapper {
  //   background-image: url("/assets/scott-graham-OQMZwNd3ThU-unsplash.jpg");
  //   background-size: cover;
  //   background-position: top;
  // }

  .hero-carousel {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    // overflow: hidden;
  }

  .div-1 {
    @include flex-column;
    background-color: white;
    padding-bottom: 10rem;

    .div-1-header {
      width: 100%;
      height: 200px;
      @include flex-row;
      // border: 2px dashed yellow;
      font-size: 2.5rem;
      font-family: "Oswald", sans-serif;
      letter-spacing: 1px;
      margin-bottom: 4rem;
    }

    .ideals-div {
      display: grid;
      grid-template-areas:
        "a b c"
        "d e f";
      grid-template-columns: repeat(3, min(30vw, 400px));
      grid-template-rows: repeat(2, 300px);

      > * {
        @include flex-column;
      }

      img {
        filter: invert(16%) sepia(36%) saturate(5777%) hue-rotate(195deg)
          brightness(92%) contrast(91%);
      }

      .sophisticated {
        grid-area: a;

        position: relative;
        // left: -200px;
        // opacity: 0;

        .heading {
          font-size: 1.35rem;
          font-family: "Oswald", sans-serif;
          letter-spacing: 1px;
          text-align: center;
          text-transform: uppercase;

          .subheading {
            font-size: 0.9rem;
            color: rgb(119, 119, 119);
            line-height: 1.25rem;
            width: 25rem;
            padding: 1rem;
            text-transform: none;
          }
        }
      }

      .small-business-friendly {
        grid-area: b;

        .heading {
          font-size: 1.35rem;
          font-family: "Oswald", sans-serif;
          letter-spacing: 1px;
          text-align: center;
          text-transform: uppercase;

          .subheading {
            font-size: 0.9rem;
            color: rgb(119, 119, 119);
            line-height: 1.25rem;
            width: 25rem;
            padding: 1rem;
            text-transform: none;
          }
        }
      }

      .full-service {
        grid-area: c;

        position: relative;
        // right: -200px;
        // opacity: 0;

        .heading {
          font-size: 1.35rem;
          font-family: "Oswald", sans-serif;
          letter-spacing: 1px;
          text-align: center;
          text-transform: uppercase;

          .subheading {
            font-size: 0.9rem;
            color: rgb(119, 119, 119);
            line-height: 1.25rem;
            width: 25rem;
            padding: 1rem;
            text-transform: none;
          }
        }
      }

      .responsive {
        grid-area: d;

        position: relative;
        // left: -200px;
        // opacity: 0;

        .heading {
          font-size: 1.35rem;
          font-family: "Oswald", sans-serif;
          letter-spacing: 1px;
          text-align: center;
          text-transform: uppercase;

          .subheading {
            font-size: 0.9rem;
            color: rgb(119, 119, 119);
            line-height: 1.25rem;
            width: 25rem;
            padding: 1rem;
            text-transform: none;
          }
        }
      }

      .strategic {
        grid-area: e;

        .heading {
          font-size: 1.35rem;
          font-family: "Oswald", sans-serif;
          letter-spacing: 1px;
          text-align: center;
          text-transform: uppercase;

          .subheading {
            font-size: 0.9rem;
            color: rgb(119, 119, 119);
            line-height: 1.25rem;
            width: 25rem;
            padding: 1rem;
            text-transform: none;
          }
        }
      }

      .relational {
        grid-area: f;

        position: relative;
        // right: -200px;
        // opacity: 0;

        .heading {
          font-size: 1.35rem;
          font-family: "Oswald", sans-serif;
          letter-spacing: 1px;
          text-align: center;
          text-transform: uppercase;

          .subheading {
            font-size: 0.9rem;
            color: rgb(119, 119, 119);
            line-height: 1.25rem;
            width: 25rem;
            padding: 1rem;
            text-transform: none;
          }
        }
      }
    }
  }

  .div-2 {
    background-color: transparentize($color: #000000, $amount: 0.9);

    color: white;
    height: 30rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    img {
      width: 5rem;
      height: 5rem;
    }

    .clipped-top {
      background-color: white;
      height: 5rem;
      width: 100vw;
      position: absolute;
      top: 0px;
      clip-path: polygon(100% 0, 100% 100%, 50% 0, 0 100%, 0 0);
    }
    .div-2-content-container {
      max-width: min(100%, 1400px);

      .div-2-header {
        width: 100%;
        height: 200px;
        @include flex(rn);
        font-size: 2.5rem;
        font-family: "Oswald", sans-serif;
        letter-spacing: 1px;
      }

      .content-wrapper {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        height: 50%;
        column-gap: 8rem;
        margin: 0 8rem;
        align-items: baseline;

        .content-item-container-left {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: baseline;
          column-gap: 2rem;

          img {
            order: 1;
            align-self: center;
            filter: invert(99%) sepia(0%) saturate(1447%) hue-rotate(345deg)
              brightness(118%) contrast(100%);
          }

          .content-item-wrapper-left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;

            .item-header {
              font-size: 2rem;
              font-family: "Oswald", sans-serif;
              letter-spacing: 1px;
            }

            .item-body {
              font-size: 1rem;
              font-family: "Oswald", sans-serif;
              letter-spacing: 1px;
              text-align: right;
            }
          }
        }

        .content-item-container-right {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: baseline;
          column-gap: 2rem;

          img {
            align-self: center;
            filter: invert(99%) sepia(0%) saturate(1447%) hue-rotate(345deg)
              brightness(118%) contrast(100%);
          }

          .content-item-wrapper-right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            .item-header {
              font-size: 2rem;
              font-family: "Oswald", sans-serif;
              letter-spacing: 1px;
            }

            .item-body {
              font-size: 1rem;
              font-family: "Oswald", sans-serif;
              letter-spacing: 1px;
              text-align: left;
            }
          }
        }
      }
    }
  }

  .div-3 {
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    .div-3-header {
      font-size: 2.5rem;
      font-family: "Oswald", sans-serif;
      letter-spacing: 1px;
      margin-bottom: 4rem;
    }

    .content-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      .content-item-container-left {
        width: 35rem;
        height: 23.33rem;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .content-item-container-right {
        width: 35rem;
        height: 23.33rem;
      }
    }
  }

  .div-4 {
    background-color: transparentize($color: #000000, $amount: 0.7);

    // background-image: url("../../../assets/andrew-neel-K63xn7P5UOY-unsplash.png");
    // background-attachment: fixed;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    color: white;
    // @include flex(rn);
    height: 30rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    img {
      width: 3rem;
      height: 3rem;
    }

    .content-wrapper {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      height: 50%;
      column-gap: 8rem;
      margin: 0 8rem;
      align-items: baseline;

      img {
        align-self: center;
      }

      .content-item-container-left {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: baseline;
        column-gap: 2rem;

        .count-item-wrapper-left {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;

          .item-header {
            font-size: 4rem;
            font-family: "Oswald", sans-serif;
            letter-spacing: 1px;
          }

          .item-body {
            font-size: 1rem;
            font-family: "Oswald", sans-serif;
            letter-spacing: 1px;
            text-align: right;
            white-space: nowrap;
          }
        }

        .content-item-wrapper-left {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;

          .item-header {
            font-size: 2rem;
            font-family: "Oswald", sans-serif;
            letter-spacing: 1px;
          }

          .item-body {
            font-size: 1rem;
            font-family: "Oswald", sans-serif;
            letter-spacing: 1px;
            text-align: right;
          }
        }
      }

      .content-item-container-right {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: baseline;
        column-gap: 2rem;

        img {
          align-self: center;
        }

        .count-item-wrapper-right {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;

          .item-header {
            font-size: 4rem;
            font-family: "Oswald", sans-serif;
            letter-spacing: 1px;
          }

          .item-body {
            font-size: 1rem;
            font-family: "Oswald", sans-serif;
            letter-spacing: 1px;
            text-align: left;
            white-space: nowrap;
          }
        }

        .content-item-wrapper-right {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;

          .item-header {
            font-size: 2rem;
            font-family: "Oswald", sans-serif;
            letter-spacing: 1px;
          }

          .item-body {
            font-size: 1rem;
            font-family: "Oswald", sans-serif;
            letter-spacing: 1px;
            text-align: left;
          }
        }
      }
    }
  }
}
