.clients {
  @include box(100%);
  position: relative;
  display: grid;
  grid-template-rows: 100vh 60px 1fr repeat(5, 300px);
  grid-template-columns: 100%;

  > * {
    border: 1px solid red;
  }

  // .about-us-navbar {
  //   position: sticky;
  //   top: 0;
  //   z-index: 5;
  //   transition: min-height 2s;

  //   > * {
  //     flex: 1;
  //   }
  // }

  > * {
    border: 1px solid red;
  }

  .hero-wrapper {
    background-image: url("/assets/scott-graham-OQMZwNd3ThU-unsplash.jpg");
    background-size: cover;
    background-position: top;
    @include box(100%, calc(100vh - 10rem));
  }
}
